.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
	padding: 0;
	border: 0 none;
}

button {
	padding: 0;
}

ul, ol {
	list-style-type: none;
	padding: 0;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	resize: none;
}

input[type=text]::-ms-clear {  
	display: none; width : 0; height: 0; 
}
input[type=text]::-ms-reveal {  
	display: none; width : 0; height: 0; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

*:focus,
*:active {
	outline: none;
}